
p {
  color: rgb(58, 53, 53);
  /*border: 1px solid black;*/
}


html {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}



h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: rgb(58, 53, 53);
  width: 800px;
}

html {
  background-color: #0960b1;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #f7950b;
  padding: 0 80px 20px 20px;
  border: 3px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px rgb(255, 255, 255);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 30%;
}
